<div class="about-page">
    <div class="about-card">
        <h1 style="text-align: center;">What is this project?</h1>
        <div class="text-container">
            <h3>
                This is a movie browising application inspired by IMDB. The App uses the OMDB API to gather details about movies.
                The movies are acquired by users typing in specific movie titles and release dates. We save the data retrieved from the API and allow
                the user to see their search history so they can always view what they have searched before.
            </h3>
        </div>
        <h2 class="list-header">Created By:</h2>
        <ul class="gh-list">
            <li>Anthony Alvarez</li>
            <li>Aaron Chao</li>
            <li>Obaid Ahmed</li>
            <li>Tony Anamege</li>
        </ul>
    </div>
</div>