<div class="about-page">
    <div class="about-card">
        <h1 style="text-align: center; margin: 0px;">What is this project?</h1>
        <div class="text-container">
            <p>
                This is a movie browising application inspired by IMDB. The App uses the OMDB API to gather details about movies.
                The movies are acquired by users typing in specific movie titles and release dates. We save the data retrieved from the API into a local json-server and allow
                the user to see their search history so they can always view what they have searched before.
            </p>
        </div>
    </div>
    <div class="github-cards">
        <div class="github-user">
            <h3>Aaron Chao</h3>
            <h4>(Team Lead - Backend)</h4>
            <a class="gh-link" href="https://github.com/JenpeyChao" target="_blank"><h4>JenpeyChao</h4></a>
        </div>
        <div class="github-user">
            <h3>Tony Anamege</h3>
            <h4>(Backend)</h4>
            <a class="gh-link" href="https://github.com/pokeman450" target="_blank"><h4>pokeman450</h4></a>
        </div>
        <div class="github-user">
            <h3>Anthony Alvarez</h3>
            <h4>(Frontend)</h4>
            <a class="gh-link" href="https://github.com/PythonicRhythm" target="_blank"><h4>PythonicRhythm</h4></a>
        </div>
        <div class="github-user">
            <h3>Obaid Ahmed</h3>
            <h4>(Frontend)</h4>
            <a class="gh-link" href="https://github.com/obaidahmed13" target="_blank"><h4>obaidahmed13</h4></a>
        </div>
    </div>
</div>