.movie-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: stretch;
    justify-content: stretch;
    flex-grow: 1;
    margin: 0px;
    padding: 30px;
    gap: 60px;
    text-align: center;
}
