
<div class="main-page">
  
  <div class="nav">
    <div class="logo-area">
      <img class="website-logo" src="CrowLogo.png"/>
      <div class="company-name">
        <h2>Evil</h2>
        <h2>Crow</h2>
      </div>
    </div>
    <div class="title-area">
      <h1>Movie Browser</h1>
    </div>
    <div class="router-links">
      <a class="a-link" href=""><h2>Home</h2></a>
      <a class="a-link" href="/search"><h2>Search</h2></a>
      <a class="a-link" href="/about"><h2>About</h2></a>
    </div>
  </div>

  <div class="body-area">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <p>Movie browsing (EVIL CROW inc.)</p>
  </div>


</div>