.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid rgb(129, 129, 129);
    background-color: rgba(53, 14, 53, 0.733);
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    transition: ease 0.25s;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.movie-card:hover {
    -webkit-transform: scale(1.05);
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid white;
}

.header {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.movie-poster {
    height: 300px;
    width: 260px;
    border-radius: 30px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie-details > p {
    margin: 0px;
    padding: 0px;
}

.release-rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.release-rate > p {
    margin: 0px;
    padding: 0px;
}