<div class="movie-card">
    <img class="movie-poster" src="{{poster}}" alt="NOT FOUND" onerror="this.src = 'notfoundimg.webp'"/>
    <div class="header-text">
        <a href="/oneMovie/{{ id }}"><h4 class="header">{{title}}</h4></a>
    </div>
    <div class="movie-details">
        <div class="release-rate">
            <p>Release: {{released}}</p>
            <p>Rated: {{rated}}</p>
        </div>
        <p>Genre: {{genre}}</p>
        <p>Actors: {{actors}}</p>
        <p>Writer: {{writer}}</p>
        <p>Director: {{director}}</p>
        <p>Total Runtime: {{runtime}}</p>
    </div>
</div>